<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Accident Records</title>  
     {% load static %}  
    <link rel="stylesheet" href="{% static 'style.css' %}"/>  
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>ID</th>  
        <th>Year</th>  
        <th>Month</th>  
        <th>Day</th>  
        <th>Hour</th>  
        <th>Type</th> 
        <th>District</th> 
        <th>Location</th> 
        <th>Amount of Death</th> 
        <th>Amount of injuries</th> 
        <th>Sequence of parties involved</th> 
        
    </tr>  
    </thead>  
    <tbody>  
{% for caraccident in caraccidents %}  
    <tr>  
        <td>{{ caraccident.id }}</td>  
        <td>{{ caraccident.year }}</td>  
        <td>{{ caraccident.month }}</td>  
        <td>{{ caraccident.day }}</td>  
        <td>{{ caraccident.hour }}</td> 
        <td>{{ caraccident.type }}</td>
        <td>{{ caraccident.district }}</td>
        <td>{{ caraccident.location }}</td>
        <td>{{ caraccident.amountofdeath }}</td>
        <td>{{ caraccident.amountofinjuries }}</td> 
        <td>{{ caraccident.sequenceofpartiesinvolved }}</td>
        <td>  
            <a href="/edit/{{ caraccident.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/delete/{{ caraccident.id }}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center>
    <a href="/show/{{ min }}">&lt;&lt;</a> 
    <a href="/show/{{ prev }}">&lt;</a>
    {{ page }}
    <a href="/show/{{ next }}">&gt;</a>   
    <a href="/show/{{ max }}">&gt;&gt;</a>   
</center>  
<center><a href="/emp" class="btn btn-primary">Add New Record</a>
</center>  
</body>  
</html>  